ATTEMPT_DEAD_END_ESCALATION
BACKTRACK_PENALTY_WEIGHT
BLOCKER_DENSITY
BOXED_CORRIDOR_NO_EXIT_PENALTY
CYCLE_GUARD_SCORE_MARGIN
CYCLE_PAIR_PENALTY_WEIGHT
CYCLE_TRANSITION_PENALTY_WEIGHT
DEAD_END_FRONTIER_DISTANCE_SCALE
DEAD_END_LEARNING_ALLOWANCE
DECISION_NOISE_WEIGHT
DEFAULT_MAZE_RUN_LENGTH
EASY_DEAD_END_SCALE
ENABLE_PATH_FALLBACK
ENABLE_PSEUDO3D_VIEW
EXPLORATION_RANDOMIZE_TIES
EXPLORATION_TIE_BAND
EXPLORATION_TIE_NOISE
FRONTIER_LOCK_FORCE_SCORE_GUARD_ENABLE
FRONTIER_LOCK_FORCE_SCORE_MARGIN
FRONTIER_LOCK_MEMORY_VETO_ENABLE
FRONTIER_LOCK_MEMORY_VETO_MARGIN
FRONTIER_LOCK_MEMORY_VETO_PENALTY
FRONTIER_LOCK_MEMORY_VETO_SCORE_MARGIN
FRONTIER_LOCK_MEMORY_VETO_WINDOW
FRONTIER_OVERRIDE_SCORE_MARGIN
GAME_MOVE_DELAY_MS
HARD_DEAD_END_SCALE
LAST_UNCERTAINTY_COMMIT_ENABLE
LAST_UNCERTAINTY_FRONTIER_THRESHOLD
LAST_UNCERTAINTY_SCORE_MARGIN
LAST_UNCERTAINTY_UNKNOWN_THRESHOLD
LAYOUT_RECALL_MUTATION_CHANCE
LAYOUT_RECALL_MUTATION_DECAY_STEPS
LOCAL_NAVIGATION_API_FALLBACK
LOCAL_NAVIGATION_KERNEL
LOGIC_CONFIDENCE_THRESHOLD
LONG_TRAP_MEMORY_MAX_HITS
LONG_TRAP_MEMORY_MAX_PENALTY
LONG_TRAP_MEMORY_PENALTY_WEIGHT
LOOK_AROUND_PREVIEW_MS
MAX_REPEAT_EXECUTIONS
MAX_STEP_ITERATIONS
MEDIUM_DEAD_END_SCALE
MEMORY_EVENT_LOG_MAXLEN
MEMORY_EXPORT_ASCII_MAX_LINES
MEMORY_EXPORT_DEBUG_LIMIT
MEMORY_EXPORT_LOG_LIMIT
MEMORY_EXPORT_SECTION_LIMIT
NARROW_CORRIDOR_PENALTY
OPENAI_AGENT_MODEL
OPENAI_API_KEY
OPENAI_LOGIC_MODEL
OPENAI_MODEL
PORT
POST_RESET_EXHAUSTION_PENALTY
POST_RESET_STM_RELAX_STEPS
PREDICTION_CONFIDENCE_BUCKETS
PREDICTION_CONFIDENT_THRESHOLD
PREDICTION_CONFIDENT_WRONG_PENALTY
PREDICTION_CONTEXT_CONFIDENCE_BLEND
PREDICTION_OCCUPANCY_SCORE_WEIGHT
PREDICTION_PRIOR_BLEND
PREDICTION_REWARD_CORRECT
PREDICTION_SHAPE_SCORE_WEIGHT
PREDICTION_WRONG_LEARNING_CREDIT_SCALE
PREDICTION_WRONG_LEARNING_REWARD
PREDICTION_WRONG_OCCUPANCY_PENALTY
PREDICTION_WRONG_SHAPE_PENALTY
PSEUDO3D_MAX_DEPTH
RECENT_CYCLE_WINDOW
REPEAT_CONFIDENCE_THRESHOLD
RESET_FAILURE_CELL_PENALTY
RESET_FAILURE_TRANSITION_PENALTY
RESET_MAZE_KNOWLEDGE_ON_STEP_LIMIT
RESET_SUCCESS_TRANSITION_BONUS
RESET_TRACE_WINDOW
REVISIT_DEAD_END_ENTRANCE_PENALTY
REVISIT_PENALTY_WEIGHT
SHALLOW_DEAD_END_PENALTY_BASE
STRICT_AUTHORITY_RISK_MEMORY_MIN_SCALE
STRICT_PROGRESS_GUARD
TARGET_DISTANCE_MAX_RATIO
TARGET_DISTANCE_MIN_RATIO
TERMINAL_END_GUARD_MARGIN
TERMINAL_END_HARD_AVOID
VERIFICATION_PRIORITY_CONTINUITY_BONUS
VERIFICATION_PRIORITY_ENABLE
VERIFICATION_PRIORITY_FRONTIER_THRESHOLD
VERIFICATION_PRIORITY_MIN_SIGNAL
VERIFICATION_PRIORITY_PREDICTION_SCALE
VERIFICATION_PRIORITY_SCORE_MARGIN
VERIFICATION_PRIORITY_UNKNOWN_THRESHOLD
VISIBLE_EXIT_CORRIDOR_REWARD
VISIBLE_TERMINAL_END_PENALTY
VISION_PROGRESS_CREDIT_ENABLE
VISION_PROGRESS_CREDIT_MIN_CLEAR_RUN
VISION_PROGRESS_CREDIT_SCALE
WORKING_MEMORY_LOOK_RETENTION_LIMIT
WORKING_MEMORY_LOOK_RETENTION_STEPS
